@import '@styles/mixins.scss';
@import '@styles/variables.scss';


.table_wrapper{}

.table{
  width: 100%;
  .table__head{
    display: flex;
    box-shadow: 0px 4px 27px rgba(230, 231, 234, 0.78);
    background: $grey-1;
    .head__column{
      width: 100%;
      justify-content: center;
      border-color: $grey-1;

      display: flex;

      span{
        @include text(#fff,14px,500);
        cursor: pointer;
      }

      .column__btn{
        margin-left: 40px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .table_wrapper{
    overflow-x: auto;
    margin-right: -20px;
  }
  .table{
    min-width: 150vw;
  }
}